*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    
}

   
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;

}
#card{
    height:350px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    object-fit: cover;
    padding: 30px;
}
#card h2{
    font-size: 15px;
    padding-top: 2px;
}
#card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}
#card h1{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: red;
}
#card h5{
    color: cornflowerblue;
    font-size: 40px;
    text-align: center;
}
#card button{
    height: 45px;
    width: 120px;
    padding: 5px 10px;
    border-radius: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    padding-left: 5px;
    border-style: hidden;
    background-color: cornflowerblue;
    margin-left: 30px;
    margin-top: 10px;
   
}
#card #add{
  background-color: cornflowerblue;
    color: white;
    
}